* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(17, 3, 145);
    /* background: rgb(22,4,194);
    background: radial-gradient(circle, rgba(22,4,194,1) 0%, rgba(17,3,145,1) 100%); */
    box-shadow: 0 5px 8px -6px #000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: large;
    border-bottom: 1px solid transparent;
}

.navbar img {
    display: flex;
    align-self: center;
}

.navbar .entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    color: rgb(17, 3, 145);
    font-size: large;
    border-radius: 10px;
    gap: 6px;
    transition: 0.3s ease;
}

.navbar .entrar:hover {
    box-shadow: 0px 3px 15px #0000009d;
}

.navbar a:hover {
    border-bottom: 1px solid #ffffff;
    transition: 0.5s;
}

.janela {
    height: 100vh;
    width: 100%;
}

.navbar-left {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgb(31, 12, 202);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-left li {
    list-style: none;
}

.navbar-left a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    color: rgb(31, 12, 202);
    font-size: large;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar-left a:hover {
    box-shadow: 0px 3px 15px #0000009d;
}



footer {
    height: 130px;
    width: 100%;
    background-color: rgb(17, 3, 145);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .logo img {
    height: 100px;
    display: flex;
    position: center;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border-bottom: 1px solid transparent;
}

footer a:hover {
    border-bottom: 1px solid #ffffff;
    transition: 0.5s;
}

footer .redes-sociais {
    display: flex;
    flex-direction: row;
    gap: 20px;
}