* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background-historia.webp);
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(17, 3, 145);
    /* background: rgb(22,4,194);
    background: radial-gradient(circle, rgba(22,4,194,1) 0%, rgba(17,3,145,1) 100%); */
    box-shadow: 0 5px 8px -6px #000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: large;
    border-bottom: 1px solid transparent;
}

.navbar img {
    display: flex;
    align-self: center;
}

.navbar .entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    color: rgb(17, 3, 145);
    font-size: large;
    border-radius: 10px;
    gap: 6px;
    transition: 0.3s ease;
}

.navbar .entrar:hover {
    box-shadow: 0px 3px 15px #0000009d;
}

.navbar a:hover {
    border-bottom: 1px solid #ffffff;
    transition: 0.5s;
}

.titulo {
    margin-top: 90px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
}

.estatisticas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    margin-bottom: 40px;
}

.estatisticas .info h2 {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 94, 255);
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.estatisticas .info {
    background-color: #fff;
    color: rgb(13, 4, 92);
    width: 330px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #000;
}

.estatisticas .info .infos {
    border-bottom: #757575;
}

.estatisticas .dados {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #757575;
}

.estatisticas .dados .jogador-nome-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.estatisticas .dados .jogador {
    height: 60px;
    border-radius: 40px;
}
.estatisticas .dados .nome-time {
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.estatisticas .dados .nome-time img {
    height: 20px;
    position: relative;
    top: 5px;
}

.estatisticas .dados h1 {
    font-size: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
}


footer {
    height: 130px;
    width: 100%;
    background-color: rgb(17, 3, 145);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .logo img {
    height: 100px;
    display: flex;
    position: center;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border-bottom: 1px solid transparent;
}

footer a:hover {
    border-bottom: 1px solid #ffffff;
    transition: 0.5s;
}

footer .redes-sociais {
    display: flex;
    flex-direction: row;
    gap: 20px;
}