* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
}

.navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(17, 3, 145);
    box-shadow: 0 5px 8px -6px #000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: large;
    border-bottom: 1px solid transparent;
}

.navbar img {
    display: flex;
    align-self: center;
}

.navbar .entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    background-color: #fff;
    color: rgb(17, 3, 145);
    font-size: large;
    border-radius: 10px;
    gap: 6px;
    transition: 0.3s ease;
}

.navbar .entrar:hover {
    box-shadow: 0px 3px 15px #0000009d;
}

.navbar a:hover {
    border-bottom: 1px solid #ffffff;
    transition: 0.5s;
}

.home {
    height: 650px;
    background-image: url(../images/home/background-image-home.jpg);
    background-size: cover;
    background-position: top;
    color: #ffffff;
    display: flex;
    /* padding-right: 150px; */
    font-size: xx-large;
}

.home .titulo {
    padding-left: 650px;
    text-shadow: 1px 1px 2px #000, -1px 1px 2px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 600px;
}

.sobre {
    margin: 0 auto;
    width: 100%;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.sobre .titulo {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.sobre .carrossel {
    width: 100%;
    height: 490px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carrossel .buttons-carrossel {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.carrossel img {
    position: center;
    height: 400px;
}

.carrossel .pagina {
    box-shadow: inset 0px 10px #000000b2;
}

.carrossel .legenda {
    position: absolute;
    color: #fff;
    left: 20px;
    bottom: 30px;
    /* text-shadow:  2px 2px 10px #000, -2px 2px 10px #000; */
}

/* #radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

#radio6:checked ~ .first {
    margin-left: -125%;
}

#radio7:checked ~ .first {
    margin-left: -150%;
} */

.proximos-jogos {
    background-color: rgb(17, 3, 145);
    color: #fff;
    width: 100%;
    height: 230px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.proximos-jogos img {
    height: 40px;
}

.proximos-jogos .jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proximos-jogos .jogos {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.proximos-jogos .jogo .equipes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.proximos-jogos .jogos .division {
    border-right: 2px solid #fff;
    height: 100px;
}

.proximos-jogos span {
    font-size: 20px;
}

.proximos-jogos a {
    width: 100%;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.estatisticas {
    height: 260px;
    width: 100%;
    padding-top: 10px;
    background-color: rgb(8, 94, 255);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.estatisticas .infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.estatisticas .infos h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.estatisticas .dados {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.estatisticas .dados .jogador-nome-time {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.estatisticas .dados .jogador {
    height: 60px;
    border-radius: 40px;
}
.estatisticas .dados .nome-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.estatisticas .dados .nome-time img {
    height: 20px;
    position: relative;
    top: 5px;
}

.estatisticas .division {
    border-right: 2px solid #fff;
    height: 130px;
}

.estatisticas .dados h1 {
    font-size: 40px;
}

.estatisticas a {
    width: 100%;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.noticias {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticias h1 {
    margin-top: 40px;
    /* margin-bottom: 20px; */
}

.noticias .noticia {
    width: 70%;
    height: 250px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.noticia img {
    height: 250px;
    max-width: 375px;
    border-radius: 10px;
}

.noticia .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.noticia .conteudo .manchete {
    font-size: 25px;
    color: rgb(2, 2, 116);
    width: 100%;
    font-weight: 700;
    line-height: 30px;
}

.noticia .conteudo .descricao {
    font-size: 16px;
    color: rgb(68, 68, 68);
    font-weight: 400;
}

.noticias a {
    margin-top: 15px;
    color: rgb(2, 2, 116);
}

footer {
    height: 130px;
    width: 100%;
    background-color: rgb(17, 3, 145);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .logo img {
    height: 100px;
    display: flex;
    position: center;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border-bottom: 1px solid transparent;
}

footer a:hover {
    border-bottom: 1px solid #ffffff;
    transition: 0.5s;
}

footer .redes-sociais {
    display: flex;
    flex-direction: row;
    gap: 20px;
}