* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background-times.jpg);
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(17, 3, 145);
    /* background: rgb(22,4,194);
    background: radial-gradient(circle, rgba(22,4,194,1) 0%, rgba(17,3,145,1) 100%); */
    box-shadow: 0 5px 8px -6px #000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: large;
    border-bottom: 1px solid transparent;
}

.navbar img {
    display: flex;
    align-self: center;
}

.navbar .entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    padding: 5px;
    background-color: #fff;
    color: rgb(17, 3, 145);
    font-size: large;
    border-radius: 10px;
    gap: 6px;
    transition: 0.3s ease;
    cursor: pointer;
}

.navbar .entrar span {
    font-size: large;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
}

.navbar .entrar:hover {
    box-shadow: 0px 3px 15px #0000009d;
}

.navbar a:hover {
    border-bottom: 1px solid #ffffff;
    transition: 0.5s;
}

h1 {
    margin-top: 90px;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
}

.times {
    width: 100%;
    margin: 30px 40px 40px 40px;
    /* margin-top: 30px;
    margin-bottom: 40px; */
    height: auto;
    display: flex;
    gap: 90px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.times .card-time {
    height: 300px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(22,4,194);
    background: linear-gradient(119deg, rgba(22,4,194,1) 0%, rgba(73,3,112,1) 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px #000;
}

.times .card-time .escudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ffffff4b;
}

.times .card-time .escudo img{
    height: 140px;
}

.times .card-time .escudo span{
    font-size: 20px;
}

.times .card-time .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.times .card-time .pais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.times .card-time .pais img {
    height: 20px;
}

.times .card-time .titulos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.times .card-time .estadio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.times .card-time .estadio img {
    height: 22px;
}

footer {
    height: 130px;
    width: 100%;
    background-color: rgb(17, 3, 145);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .logo img {
    height: 100px;
    display: flex;
    position: center;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border-bottom: 1px solid transparent;
}

footer a:hover {
    border-bottom: 1px solid #ffffff;
    transition: 0.5s;
}

footer .redes-sociais {
    display: flex;
    flex-direction: row;
    gap: 20px;
}